@import "styles/theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  &.game{
    width: 100%;
  }
  &.description{
    width: 100%;
    display: flex;
  }
  
  &.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: $accent;
  }
  
  &.description > div{
    width: 33.33333%;
    display: flex;
    color: $accent;
    font-weight: bold;
  }
  
  &.parkname{
    justify-content: left;
  }
  
  &.tariff{
    justify-content: center;
  }
  
  &.capacity{
    justify-content: right;
  }
  
  &.container {
    border-radius: $borderRadius;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  &.user-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &.logout-button{
    color: white;
  }
  & p,
  h2 {
    margin: 0.5em 0;
  }
}

.player {
  &.container {
    margin: 0.5em 0;
    width: 100%;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: #567DF4;
  }
  &.container > div{
    display: flex;
    width: 33.33333%;
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
    justify-content: left;
    color: white;
    font-weight: bold;
  }
  &.tariff {
    margin-left: auto;
    justify-content: center;
    font-family: $fontMono;
    font-weight: 00;
    color: white;
    font-weight: bold;
  }
  &.username {
    font-weight: 500;
    color: $accent;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  &.capacity {
    margin-left: auto;
    margin-right: 10px;
    justify-content: right;
    font-family: $fontMono;
    font-weight: 300;
    color: white;
    font-weight: bold;
  }
}
