@import "styles/theme";

.login {
  &.container {
    margin-top: 2em;
    min-height: flex;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background: $accentDark;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: #e796b6;
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  &.login-button{
    color: white;
  }
  &.registration-switch {
    color: $textColor;
    margin-top: 10px;
    margin-bottom: 1px;
    font-weight: 300;
    font-style: italic;
    font-size: 13pt;
    text-align: center;
  }
  &.registration-switch-link {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 13pt;
    text-decoration: none;
  }
}
