@import 'styles/theme';

.form{
    &.field {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &.input {
        height: 35px;
        padding-left: 15px;
        margin-left: -4px;
        border: none;
        border-radius: 0.75em;
        margin-bottom: 20px;
        background: rgba(255, 100, 156, 0.9);;
        color: $textColor;
      }
      &.label {
        color: $textColor;
        margin-bottom: 10px;
        text-transform: lowercase;
        font-weight: 300;
      }
}